body {
  background-color: lightgray;
}

.heading {
  margin-top: 0px;
  padding-top: 3px;
  padding-bottom: 1px;
  background-color: #718eb1;
  text-align: center;
  color: #b8cf69;
  font-family: Arial;
}
