body {
  background-color: lightgray;
}

h2 {
  margin-top: 10px;
  margin-bottom: 1px;
}

h3 {
  width: 120px;
  height: 48px;
}

a {
  color: #b8cf69;
  text-decoration: none;
  margin-right: auto;
}

a:hover {
  color: lightgray;
}

.heading, .loggedinheading, .origheading {
  margin-top: 0px;
  padding-top: 3px;
  padding-bottom: 1px;
  padding-left: 10px;
  padding-right: 10px;
  background-color: #718eb1;
  text-align: center;
  color: #b8cf69;
  font-family: Arial;
}

.loggedinheading {
  width: 10%
  min-width: 90px;
  max-width: 200px;
}

.origheading {
  width: 100%;
  text-align: match-parent;
}

.container {
  display: flex;
  flex-direction: row;
}

.sidebar {
  /*flex: initial;*/
  width: 25%;
  min-width: 120px;
  max-width: 200px;
  height: 85%;
  margin-top: 10px;
  background-color: #718eb1;
  text-align: center;
  color: #b8cf69;
}

.sidebar_line {
  margin-left: 12.5%;
  width: 75%;
  align-content: center;
  height: 1px;
  border-top: 2px solid #b8cf69;
  margin-bottom: 10px;
}

h3.sidebar_links {
  margin: auto;
}

.main_content {
  width: 75%;
  margin-top: 10px;
  margin-left: 10px;
  background-color: #a4aaae;
}

@media only screen and (min-width: 800px) {
  .main_content {
    width: calc(100% - 210px);
  }
}
