<!DOCTYPE html>

<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- Tells the browser what the title of this page should be. -->
  <title>Login</title>
  <meta name="description" content="Facebook and Google Plus third-party
  logins on this page to enable editing of user's own content.">
  <meta name="website author" content="Patrick Gendotti">

  <!--LOAD PRE-REQUISITES FOR GOOGLE SIGN IN -->
 <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js">
</script>

<script src="//apis.google.com/js/platform.js?onload=start"> </script>

<!-- END PRE-REQUISITES FOR GOOGLE SIGN IN -->

<!--FACEBOOK SIGN IN -->

  <!-- Load the page styles. -->
  <link href="{{url_for('static', filename='css/style.css')}}" rel="stylesheet" type='text/css'>
</head>
<body>

<script>
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '317329012423667',
      cookie     : true,
      xfbml      : true,
      version    : 'v3.2'
    });

    FB.AppEvents.logPageView();

  };

  // Load the SDK asynchronously
(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));
// Here we run a very simple test of the Graph API after login is
// successful.  See statusChangeCallback() for when this call is made.
function sendTokenToServer() {
  var access_token = FB.getAuthResponse()['accessToken'];
  console.log(access_token)
  console.log('Welcome!  Fetching your information.... ');
  FB.api('/me', function(response) {
    console.log('Successful login for: ' + response.name);
   $.ajax({
    type: 'POST',
    url: '/fbconnect?state={{STATE}}',
    processData: false,
    data: access_token,
    contentType: 'application/octet-stream; charset=utf-8',
    success: function(result) {
      // Handle or verify the server response if necessary.
      if (result) {
        $('#result').addClass("login_successful");
        $(".login_box").hide();
        $('#result').html('Login Successful!</br>'+ result + '</br>Redirecting...')
       setTimeout(function() {
        window.location.href = "/";
       }, 4000);

    } else {
      $('#result').html('Failed to make a server-side call. Check your configuration and console.');
       }
    }

});
  });
}
</script>


  <div class=login_box>
    <div class=login_space>
      <h2>Google Login</h2>
      <div class=login_line></div>
      <br />
      <div id="signinButton">
        <button class=login><img id=ggSignIn src= "{{url_for('static', filename='images/GG_Login_Button.jpg')}}" /></button>
        </div>
    </div>
    <div class=login_space>
      <h2>Facebook Login</h2>
      <div class=FB_login_line></div>
      <br />
      <button class=login>
        <fb:login-button size="xlarge" scope="public_profile,email" onlogin="sendTokenToServer();">
          <a href='javascript:sendTokenToServer()'>Facebook Login</a>
        </fb:login-button>
      </button>
    </div>
  </div>

  <div id='result'>
  </div>

  <!--END FACEBOOK SIGN IN -->


  <!--GOOGLE PLUS SIGN IN -->
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script type="text/javascript">
      // Function used to help render the custom Google Login button
      (function() {
        var po = document.createElement('script');
        po.type = 'text/javascript'; po.async = true;
        po.src = 'https://apis.google.com/js/client:plusone.js?onload=render';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(po, s);
        })();


        // Function used to help render the custom Google Login button
        function render() {
          gapi.signin.render('signinButton', {
            'scope':"openid email",
            'clientid':"396893510299-c63590mldo9t9ftg4rb0di77edpfnmj8.apps.googleusercontent.com",
            'redirecturi':"postmessage",
            'accesstype':"offline",
            'cookiepolicy':"single_host_origin",
            'callback':"signInCallback",
            'approvalprompt':"force"
            });
          }


      // Allow Google Login button to change when user hovers over it!
      $(function() {
        $("#ggSignIn").hover(
          function(){
            $(this).attr('src', "{{url_for('static', filename='images/GG_Login_Button2.jpg')}}");
          },
          function(){
            $(this).attr('src', "{{url_for('static', filename='images/GG_Login_Button.jpg')}}");
          }
        );
      });

      // Callback function upon clicking the Google Login button, asks viewer
      // to sign in using Google
      function signInCallback(authResult) {
        if (authResult['code']) {
          //remove the login button
          $('#signinButton').attr('style', 'display: none');
          //send the request
          $.ajax({
            type: 'POST',
            url: '/gconnect?state={{STATE}}', //need to allow to the credentials on google's API
            //server to allow the redirection to http://localhost:8000/gconnect because of this url
            processData: false,
            contentType: 'application/octet-stream; charset=utf-8',
            data: authResult['code'],
            success: function (result) {
              if (result) {
                $('#result').addClass("login_successful");
                $(".login_box").hide();
                $('#result').html("Login successful!<br />" + result +
                '<br /> Redirecting...');
                setTimeout(function () {
                  window.location.href = "/";
                }, 4000);
                //need to allow to the credentials on google's API server to
                //allow the redirection to http://localhost:8000/login because
                //of this url code after the AJAX request has finished
              }
              else if (authResult['error']) {
                console.log("There was an error " + authResult['error']);
              }
              else{
                $('#result').html("Failed to make a server side call.<br />"  +
                'Check your configuration and console.');
              }
              }
            })
          }
        }
    </script>

    <!--END GOOGLE PLUS SIGN IN -->


</body>
</html>
