<!DOCTYPE html>

<html>
<head>
  <meta charset="utf-8">

  <!-- Tells the browser what the title of this page should be. -->
  <title>Login</title>
  <meta name="description" content="Facebook and Google Plus third-party
  logins on this page to enable editing of user's own content.">
  <meta name="website author" content="Patrick Gendotti">

  <!-- Load the page styles. -->
  <link href="css/style.css" rel="stylesheet">
</head>
<body>
  <div class=login_box>
    <div class=login_space>
      <h2>Google Login</h2>
      <div class=login_line></div>
      <br />
      <img src= images/GG_Login_Button.jpg />
    </div>
    <div class=login_space>
      <h2>Facebook Login</h2>
      <div class=FB_login_line></div>
      <br />
      <img src= images/FB_Login_Button.jpg />
    </div>
  </div>
</body>
</html>
